<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="not-homepage-nav">
      <div class="logo">
        <a href="/">logo</a>
      </div>
      <div class="links">
        <a href="/inventory/items">Items</a>
        <a href="/inventory/categories">Categories</a>
        <a href="/inventory/account">Account</a>
      </div>
    </nav>
    <main class="not-homepage-main">
      <h1><%= title %></h1>
      <div class="cat-item-container">
        <div class="cat-item">
          <img src=<%= category.image %> alt="Item image" class="cat-item-image">
          <h2><%= category.name %> </h2>
          <p><%= category.description %> </p>
        </div>
      </div>
      <div class="buttons-del-updt-container">
        <a href="<%= category.url %>/delete" class="buttons-del-updt">Delete category</a>
        <a href="<%= category.url %>/update" class="buttons-del-updt">Update category</a>
      </div>
        <% if(items.length) { %>
        <div class="category-items">
          <h3 style="text-align: center;">Items in this category: </h3>
          <div class="cat-item-container">
              <% items.forEach(item => { %>
                <div class="cat-item">
                  <img src=<%= item.image %> alt="item image" class="cat-item-image">
                  <a href=<%= item.url %> ><%= item.name %> </a>
                </div>
              <% }); %>
          </div>
        </div>
        <% } %>
    </main>
  </body>
</html>