<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="not-homepage-nav">
      <div class="logo">
        <a href="/">logo</a>
      </div>
      <div class="links">
        <a href="/inventory/items">Items</a>
        <a href="/inventory/categories">Categories</a>
        <a href="/inventory/account">Account</a>
      </div>
    </nav>
    <main class="not-homepage-main">
      <h1><%= title %></h1>
      <div class="cat-item-container">
        <div class="cat-item">
          <img src=<%= category.image %> alt="Item image" class="cat-item-image">
          <h2><%= category.name %> </h2>
          <p><%= category.description %> </p>
        </div>
      </div>
      <div class="buttons-del-updt-container">
        <a href="#" class="buttons-del-updt">Delete category</a>
        <a href="#" class="buttons-del-updt">Update category</a>
      </div>
    </main>
  </body>
</html>