<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="https://img.icons8.com/material-outlined/24/000000/shop-department.png">
  </head>
  <body>
    <nav class="not-homepage-nav">
      <div class="logo">
        <a href="/"><img src="https://img.icons8.com/office/20/000000/shop.png" alt="shop icon"></a>
      </div>
      <div class="links">
        <a href="/inventory/items">Items</a>
        <a href="/inventory/categories">Categories</a>
        <a href="/inventory/account">Account</a>
      </div>
    </nav>
    <main class="not-homepage-main">
      <h1><%= title %></h1>
      <div class="cat-item-container">
        <div class="cat-item">
          <div class="create-new"><a href="/inventory/item/create">+</a></div>
          <a href="/inventory/item/create">Create new item</a>
        </div>
        <% items.forEach(item => { %>
          <div class="cat-item">
            <img src=<%= item.image %> alt="item image" class="cat-item-image">
            <a href=<%= item.url %> ><%= item.name %> </a>
          </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
