<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="https://img.icons8.com/material-outlined/24/000000/shop-department.png">
  </head>
  <body>
    <nav class="not-homepage-nav">
      <div class="logo">
        <a href="/"><img src="https://img.icons8.com/office/20/000000/shop.png" alt="shop icon"></a>
      </div>
      <div class="links">
        <a href="/inventory/items">Items</a>
        <a href="/inventory/categories">Categories</a>
        <a href="/inventory/account">Account</a>
      </div>
    </nav>
    <main class="not-homepage-main">
      <h1><%= title %></h1>
      <form method="POST" action='' enctype="multipart/form-data">
        <fieldset>
          <div>
            <label for="item_name">Name</label>
            <input 
                id="item_name" 
                name="item_name" 
                type="text" 
                placeholder="Item name" 
                required="true" 
                value="<%= (item === undefined) ? "" : item.name %>"
            >
          </div>
          <div>
            <label for="description">Description</label>
            <input 
                id="description" 
                name="description" 
                type="text"
                placeholder="Item short description" 
                required="true" 
                value="<%= (item === undefined) ? "" : item.description %>"
            >
          </div>
        </fieldset>
        <fieldset>
          <div>
            <label for="category">Category:</label>
            <% categories.forEach(category => { %>
              <input
              id=<%= category._id %> 
              name="category"
              type="checkbox"
              value=<%= category._id %> 
              >
              <label for=<%= category._id %> ><%= category.name %> </label>
            <% }); %>
          </div>
        </fieldset>
        <fieldset>
          <div>
            <label for="price">Price</label>
            <input type="number" step=".01" id="price" name="price" required="true" placeholder="Item price" value=<%= (item === undefined) ? "" : item.price %> >
          </div>
          <div>
            <label for="in_stock">Stock</label>
            <input 
                id="in_stock"
                name="in_stock"
                type="number"
                placeholder="Amount on this item in stock" 
                required="true" 
                value=<%= (item === undefined) ? "" : item.number_in_stock %> 
            >
          </div>
        </fieldset>
        <fieldset>
          <div class="image">
            <label for="image">Image</label>
            <input 
                id="image" 
                name="image" 
                type="file" 
            >
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
          </div>
        </fieldset>
        <button type="submit" id="submit_button">Create</button>
      </form>
      <% if(errors !== undefined) { %> 
        <ul>
        <% errors.forEach(err => { %> 
          <li><%= err.msg %> </li>
        <% }) %> 
        </ul>
      <% } %> 
    </main>
  </body>
</html>
