<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="https://img.icons8.com/material-outlined/24/000000/shop-department.png">
  </head>
  <body>
    <nav class="not-homepage-nav">
      <div class="logo">
        <a href="/"><img src="https://img.icons8.com/office/20/000000/shop.png" alt="shop icon"></a>
      </div>
      <div class="links">
        <a href="/inventory/items">Items</a>
        <a href="/inventory/categories">Categories</a>
        <a href="/inventory/account">Account</a>
      </div>
    </nav>
    <main class="not-homepage-main">
      <h1><%= title %></h1>
      <div class="cat-item-container">
        <div class="cat-item">
          <img src=<%= item.image %> alt="Item image" class="cat-item-image">
          <h2>Item name: <%= item.name %> </h2>
          <p><b>Item description:</b> <%= item.description %> </p>
          <div>
            <p><b>Price:</b> $<%= item.price %> </p>
            <p><b>In stock:</b> <%= item.number_in_stock %> </p>
          </div>
        </div>
      </div>
      <div class="buttons-del-updt-container">
        <form method="POST" action="" id="form-sell-item">
          <button type="submit">Sell one</button>
        </form>
        <a href="<%= item.url %>/delete" class="buttons-del-updt">Delete item</a>
        <a href="<%= item.url %>/update" class="buttons-del-updt">Update item</a>
      </div>
    </main>
  </body>
</html>